body {
  margin: 0;
}

header {
  background-color: #4282cb;
  height: 150px;
  background-image: url("../img/pattern.png");
  background-size: auto 200%;
  padding: 70px 0 0 10px;
}

#booleaner_logo {
  height: 70px;
  margin-top: 50px;
}

.main_header{
  margin-bottom: 25px;
}

.main_header h1{
  margin-bottom: 0;
}

.main_header p {
  color: gray;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #509ebd;
}

.photo p{
  font-size: 12px;
  margin: 0px;
}

.highlighted_yellow{
  background-color: yellow;
}

main ul{
  padding-left: 17px;
}

main table{
  border-collapse: collapse;
  margin-bottom: 25px;
}

main thead{
  background-color: #20a9e5;
  color: white;
  text-align: left;
}

.col_width {
  width: 25%;
}

main th {
  margin-left: 10px;
  padding-right: 200px;
}

main td {
  margin-left: 10px;
  padding: 10px, 0;
}

.table_color{
  background-color: #b1e5f2;
}

footer{
  margin-top: 25px;
}

footer h3{
  color: gray;
}

#footer_img1{
  background-image: url(../img/monitor.jpg);
  height: 200px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

#footer_img2{
  background-image: url(../img/graph.jpg);
  height: 200px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.footer_text_high{
  color: white;
  font-weight: 800;
  padding: 15px 0 0 20px;
}