body {
  margin: 0;
}

header {
  background-color: #4282cb;
  height: 150px;
  background-image: url("../img/pattern.png");
  background-size: auto 200%;
  padding: 70px 0 0 10px;
}

.logo {
  height: 70px;
  margin: auto;
}

#booleaner_logo {
  height: 70px;
  margin-top: 50px;
}

.main_header{
  margin-bottom: 25px;
}

.main_header p {
  color: gray;
}

a {
  text-decoration: none;
}

.photo p{
  font-size: 12px;
  margin: 0px;
}

.highlighted_yellow{
  background-color: yellow;
}

main table{
  border-collapse: collapse;
  margin-bottom: 25px;
}

main thead{
  background-color: #20a9e5;
  color: white;
  text-align: left;
}

.col_width {
  width: 25%;
}

main th {
  margin-left: 10px;
  padding-right: 200px;
}

main td {
  margin-left: 10px;
  padding: 10px, 0;
}

.table_color{
  background-color: #b1e5f2;
}